body {
  margin: 10px;
}

nav {
  border-top: 8px solid black;
  border-bottom: 1px solid black;
  padding: 20px;
  text-align: center;
}

.logo {<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
  <path d="M 3 2 L 5 20 L 11.992188 22 L 19 20 L 21 2 Z M 16.726563 10.347656 L 16.34375 16.589844 L 12.027344 18 L 7.710938 16.589844 L 7.546875 13.605469 L 9.734375 13.605469 L 9.789063 14.960938 L 12.027344 15.722656 L 14.269531 14.960938 L 14.433594 12.519531 L 9.625 12.519531 L 9.515625 10.347656 L 14.539063 10.347656 L 14.703125 8.175781 L 7.164063 8.175781 L 7 6.007813 L 17 6.007813 Z"></path>
  </svg>

  width: 330px;
}

.sitemotto {
  color: #de2f23;
  font-family: Basier, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}



header {
    font-family: Basier, Arial, sans-serif;
    font-size: 20px;
    <!-- As a link -->
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
      </div>
    </nav>
    
    <!-- As a heading -->
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Navbar</span>
      </div>
    </nav>

    <div class="container text-center">
  <div class="row row-cols-auto">
    <div class="col">Column</div>
    <div class="col">Column</div>
    <div class="col">Column</div>
    <div class="col">Column</div>
  </div>
</div>

}

h1 {
  font-size: 46px;
}

.byline {
  font-weight: bold;
}

.tdpad {
  padding: 15px;
}

article > p {
  font-family: Pensum, "Times New Roman", serif;
  font-size: 16px;
In the State of Maryland, Montgomery County more specifically the public offices and their payrolls are available to the public. While most residents will never take a look into how their local taxes are utilized as a proud born and raised resident I decided to look into the trends of how money is distributed and the effects that can be seen in the average person’s day to day life. The county has 42 separate departments ranging from corrections and rehabilitation, to public libraries. The four most expensive departments are the usual suspects with Health and Human Services (17.99%), Police (17.58%), Fire and Rescue (14.89%), and Transportation (11.89%). These are the most expensive payrolls as they have large employment bases that cover the whole county . All of these can be considered public safety initiatives that work to either heal or protect residents. Most of these department jobs are in the bottom 50% of average base salary where Intergovernmental Relations tops the list at $165,169 per year where all the roles are held by women. Looking at gender, the average salary of a woman in public works is $87,497 whilst men are at $92,382 which does show a gap but much better than what I expected to find. However, looking deeper the true discrepancy is in overtime pay. The average male employee receives almost $10,000 more in overtime pay per year than women. Even looking into the departments with the highest overtime pay men are being paid vastly higher than women. In Corrections and Rehabilitation the difference is $8,874 and in Fire and Rescue it is $10,068. While speaking to Sandra Adams, an Human Resources officer at the Montgomery County Department of Transportation she mentioned that this large difference comes in what jobs receive overtime pay. “ Many of the jobs that receive hourly overtime pay are field jobs such as prison guards which are often worked by men”. While this is often a large cop out by non-wage gap believers in this instance it is true. Many of the women working in those more time demanding departments are often higher ups that have no need to work overtime as their job ends at 5 o’clock.  This is an overall good report for the county as wage contrariety has not only been a hot topic in America but across the world. Adams claims that as a public worker for over 20 years that things have gotten significantly better. “There is more diversity around the office now in both gender and in race; when I first started I was one of three and now I am one of about 25 women here.” The overall health of the public works in Montgomery County seems to be high but maybe the limitations of the data are hiding some of the true issues plaguing the area. The biggest concerns among local residents seem to be crime, housing, education, and cost of living. Is the $180 million in wages going to the Department of Police and Sheriff’s office not enough to keep citizens safe. Well the issue seems to be staffing numbers rather than quality of police. Many stations are very understaffed which is stretching the department thin. My personal solution would be to change the culture of how we educate in the county. If we can use this data to show how a lot of these departments are searching for workers we can introduce them to the high and middle schools in the area under apprenticeship/internship programs. This would not only keep young kids off the streets but also provide them with experience that can help them get a job and better their community. The true issue in Montgomery county is not the lack of opportunity as many in the area like myself are very fortunate to have great connections and networks however the access to that is the gap that remains to be closed. The more interconnected we become between downcounty and up-county will create a better environment for both children and adults to succeed. Many families in the area would dream to see the figures that many people in the county are making. With the collaboration of Montgomery County Public Schools and Montgomery College, one of the best community colleges in the country we can close the achievement gap creating a safer, more equitable space to live. In my work evaluating this data I can see that the money is being allocated in the right spaces; public services that work to only benefit the community. The state and the county need to work to make these jobs more accessible to people in and from the county that know what it is like to live inside its boundaries. 

}

.story_image {
  width: 100%;
}

.caption {
  color: gray;
  font-size: 14px;
  margin-top: 5px;
}

footer {
  margin-top: 30px;
  font-family: Basier, Arial, sans-serif;
}

footer > p {
  font-size: 14px;
  color: #666;
}

a {
  color: black;
}

a:hover {
  color: #717171;
  text-decoration-color: #ffcb04;
}

